html{
font-family: 'Karla', sans-serif;
box-sizing: border-box;
height: 100%;
width: 100%;
}
html, body{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    background-size: cover;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*parallax animation effect*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*styling up the navigation bar*/
.navigation{
    position: fixed;
    border: 2px solid #fff;
    width: 100%;
    height: auto;
    list-style-type: none;
    background: rgba(255,255,255, 8);
    padding: 5px 20px;
}
.navigation li{
    display: inline-block;

}

.toggle{
    text-decoration: none;
    float: right;
    font-size: 30px;
    color:black;
    position(fixed, 20px 0 0 200px);
    z-index: 1;
}
.abcCreations{
    text-decoration: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
/*center the text no matter how big a viewport is //tip from devTips*/
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 75%;
    margin-left: -215px;
    padding-top: 50%;
    margin-top: -443px;
    color: #fff;
}

span{
    font-weight: bolder;
}
.hero-text{
    line-height: 45px;
    letter-spacing: 4px;
}



.image2{
    text-align: center;
    padding-top: 15px;
}
.bg-img, #bg-img-2 {
  width: 100%;
  height: 100%;
}
.arrowDown img{
height: 100%;
width: auto;
}
.arrowDown{
    bottom: 110px;
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    height: 50px;
    border-radius: 5px;
        margin-top: -15%;
        margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
/*on hover effect to animate the arrow */
.arrowDown:hover{
background: #fff;
}

.bg-img {
    background-size: cover;
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(63,81,181,0.5),
      rgba(1,4,21,0.9)
    ),

    /* bottom, image */
    url(image1.jpg );
}

.processProduction{
    text-align: center;
}
.btn-1, .btn-2{
    display: inline-block;
    border: 3px solid #fff;
    padding: 5px;
}
.btn-1{
    margin-right: 10px;
}

footer{
    text-align: center;
}
.callNmail{
    text-align: center;
    display: inline-flex;
}
.call, .mail{
height: 33%;
}
.call{
    padding-right: 20px;
}
.mail{
    padding-left: 20px;
}





 /*optimizing to be mobile responsive*/
@media (max-width:450px) {
    body{
        background:#8e44ad;
    }
    .container{
        padding-top: 130%;
    }
    .hero-text{
        font-size: 1.5em;
        line-height: 30px;
        letter-spacing: 2px;
    }
    .arrowDown{
        margin-top: -30%;
        margin-left: 50%;
    transform: translate(-50%);
    }
}
@media (min-width:451px) and (max-width:540px) {
    body{
        background:#2980b9;
    }
    .container{
        padding-top: 100%;
        margin-top: -343px;
    }

    .hero-text{
        font-size: 1rem;
        font-size: 1.5em;
        line-height: 33px;
        letter-spacing: 3px;
    }
}
@media (min-width:541px) and (max-width:768px) {
    body{
        background:#27ae60;
    }
    .container{
        padding-top: 90%;
    }
    .hero-text{
        font-size: 1.3rem;
    }

}

@media (min-width:769px) and (max-width:1024px) {
    body{
        background:#16a085;
    }
    .container{
        padding-top: 65%;
    }
    .hero-text{
        font-size: 1.5rem;
    }
    /*.btn-1{
        margin-right: 20px;
    }*/
    .mail, .call{
        display: hide;
    }
}
@media (min-width:1025px) and (max-width:1200px) {
    body{background:#c0392b;
    }
        .container{
            padding-top: 56%;
        }
        .call, .mail{
    display: none;
       }

}
@media (min-width:1201px){
    body{
        background:#ffd700;
    }
    .arrowDown{
        margin-top: -7%;
    }
    .call, .mail{
display: none;
   }
}
