html{
font-family: 'Crete Round', serif;
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




#bg-img-2{
    background: url('image2.jpg')no-repeat;
}
.bg-img, #bg-img-2 {
  width: 100%;
  height: 100%;
}

.bg-img {
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(2, 0, 0, 0.2),
      rgba(15, 0, 13, 1)
    ),
    /* bottom, image */
    url(image1.jpg);
}









 /*optimizing to be mobile responsive*/
@media (max-width:450px) {
    body{background:#8e44ad;}
}
@media (min-width:451px) and (max-width:540px) {
    body{background:#2980b9;}
}
@media (min-width:541px) and (max-width:768px) {
    body{background:#27ae60;}
}
@media (min-width:769px) and (max-width:1024px) {
    body{background:#16a085;}
}
@media (min-width:1025px) and (max-width:1200px) {
    body{background:#c0392b;}
}
@media (min-width:1201px){
    body{background:#ffd700;}
}
