html{
font-family: 'Crete Round', serif;
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a{
    text-decoration: none;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}
.image-1-header, .header-2-img
  {
    width: 98%;
}

.container {
   position: absolute;
   top: 22%;
   margin-left: 30%;
   width: auto;
   color: #fff;
}
.btn-1 ,.btn-2{
    border: 3px solid #fff;
    padding: 0.3rem;
    width: 38%;
    font-size: 1.325em;
    text-align: center;
    display: inline-block;
}
footer{
    text-align: center;
}


 /*optimizing to be mobile responsive*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {

}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    /*.processProductbtn{
display: inline-block;
 }*/

    .btn-1 ,.btn-2{
        border: 3px solid white;
        font-size: .9em;
        padding-top:5px;
        font-weight: bold;
    }


    .image-1-header, .header-2-img
      {
        width: 98%;
    }

.hero-text{
    width: auto;
    font-size: 1.4rem;
}

.container{
position: absolute;
    top: -2%;
    color: #fff;
    margin-right: 15%;

}

    footer{
        text-align: center;
        font-size: .9em;
    }

    }


}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    .container{
       margin-right: 15%;
    }
    .hero-text{
        font-size: .2rem;
letter-spacing: .9rem;   }
    .btn-1, .btn-2{
        border: 1px solid white;
        width: auto;
    }



    footer{
        margin-top: 200%;
        text-align: center;
        font-size: .9em;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {

}
